<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CCAUniverse</key>
	<dict>
		<key>lesson1</key>
		<dict>
			<key>background_path</key>
			<string>alsoBgr</string>
			<key>charsound_path</key>
			<string>also_charsound</string>
			<key>icon_path</key>
			<string>also.png</string>
			<key>intro_text</key>
			<string>The old character looks like the side view of a right hand holding or catching something. Later, people borrowed the character for its sound and gave it the meaning of &quot;also.&quot; </string>
			<key>lesson_id</key>
			<integer>1</integer>
			<key>lesson_morph_path</key>
			<string>alsoMorph</string>
			<key>lesson_name</key>
			<string>also</string>
			<key>lesson_stroke_path</key>
			<string>alsoStroke</string>
			<key>lesson_video_path</key>
			<string>alsoVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_also.png</string>
			<key>subtitle_text</key>
			<string>The old character looks like the side view of a right hand holding or catching something. Later, people borrowed the character for its sound and gave it the meaning of &quot;also.&quot; </string>
		</dict>
		<key>lesson10</key>
		<dict>
			<key>background_path</key>
			<string>seeBgr</string>
			<key>charsound_path</key>
			<string>see_charsound</string>
			<key>icon_path</key>
			<string>see.png</string>
			<key>intro_text</key>
			<string>The old character for &quot;to see&quot; shows a large eye on top of a pair of legs. As the character changes, the eye rotates and the lines become more abstract.</string>
			<key>lesson_id</key>
			<integer>10</integer>
			<key>lesson_morph_path</key>
			<string>seeMorph</string>
			<key>lesson_name</key>
			<string>see</string>
			<key>lesson_stroke_path</key>
			<string>seeStroke</string>
			<key>lesson_video_path</key>
			<string>seeVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_see.png</string>
			<key>subtitle_text</key>
			<string>The old character for &quot;to see&quot; shows a large eye on top of a pair of legs. As the character changes, the eye rotates and the lines become more abstract.</string>
		</dict>
		<key>lesson11</key>
		<dict>
			<key>background_path</key>
			<string>singBgr</string>
			<key>charsound_path</key>
			<string>sing_charsound</string>
			<key>icon_path</key>
			<string>sing.png</string>
			<key>intro_text</key>
			<string>The character for sing uses the mouth radical on the left side, while the right side gives us a clue about how the character sounds. The idea of breathing is suggested by the lower part of the right side of the character.</string>
			<key>lesson_id</key>
			<integer>11</integer>
			<key>lesson_morph_path</key>
			<string>singMorph</string>
			<key>lesson_name</key>
			<string>sing</string>
			<key>lesson_stroke_path</key>
			<string>singStroke</string>
			<key>lesson_video_path</key>
			<string>singVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_sing.png</string>
			<key>subtitle_text</key>
			<string>The character for sing uses the mouth radical on the left side, while the right side gives us a clue about how the character sounds. The idea of breathing is suggested by the lower part of the right side of the character.</string>
		</dict>
		<key>lesson12</key>
		<dict>
			<key>background_path</key>
			<string>teethBgr</string>
			<key>charsound_path</key>
			<string>teeth_charsound</string>
			<key>icon_path</key>
			<string>teeth.png</string>
			<key>intro_text</key>
			<string>The old character shows a pair of canine teeth, fangs or tusks.  Later, the meaning of the character broadens to include human teeth.</string>
			<key>lesson_id</key>
			<integer>12</integer>
			<key>lesson_morph_path</key>
			<string>teethMorph</string>
			<key>lesson_name</key>
			<string>teeth</string>
			<key>lesson_stroke_path</key>
			<string>teethStroke</string>
			<key>lesson_video_path</key>
			<string>teethVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_teeth.png</string>
			<key>subtitle_text</key>
			<string>The old character shows a pair of canine teeth, fangs or tusks.  Later, the meaning of the character broadens to include human teeth.</string>
		</dict>
		<key>lesson2</key>
		<dict>
			<key>background_path</key>
			<string>stopradicalBgr</string>
			<key>charsound_path</key>
			<string>stop_charsound</string>
			<key>icon_path</key>
			<string>stop</string>
			<key>intro_text</key>
			<string>The old character is a picture of a footprint. Later, the character changes into a side view of a foot with a heel, an arch, and toes. The foot has to do with moving towards a goal, and then stopping after achieving that goal. </string>
			<key>lesson_id</key>
			<integer>2</integer>
			<key>lesson_morph_path</key>
			<string>stopMorph</string>
			<key>lesson_name</key>
			<string>stop</string>
			<key>lesson_stroke_path</key>
			<string>stopStroke</string>
			<key>lesson_video_path</key>
			<string>stopVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_stopradical.png</string>
			<key>subtitle_text</key>
			<string>The old character is a picture of a footprint. Later, the character changes into a side view of a foot with a heel, an arch, and toes. The foot has to do with moving towards a goal, and then stopping after achieving that goal. </string>
		</dict>
		<key>lesson3</key>
		<dict>
			<key>background_path</key>
			<string>noseBgr</string>
			<key>charsound_path</key>
			<string>self_charsound</string>
			<key>icon_path</key>
			<string>self.png</string>
			<key>intro_text</key>
			<string>Chinese people often point to their noses when talking about themselves.  The character for self used to meant &quot;nose.&quot;</string>
			<key>lesson_id</key>
			<integer>3</integer>
			<key>lesson_morph_path</key>
			<string>selfMorph</string>
			<key>lesson_name</key>
			<string>self</string>
			<key>lesson_stroke_path</key>
			<string>selfStroke</string>
			<key>lesson_video_path</key>
			<string>selfVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_nose.png</string>
			<key>subtitle_text</key>
			<string>Chinese people often point to their noses when talking about themselves.  The character for self used to meant &quot;nose.&quot;</string>
		</dict>
		<key>lesson4</key>
		<dict>
			<key>background_path</key>
			<string>earBgr</string>
			<key>charsound_path</key>
			<string>ear_charsound</string>
			<key>icon_path</key>
			<string>ear.png</string>
			<key>intro_text</key>
			<string>The old character has the shape of an ear.  Later, the ear changes to look more like a square.</string>
			<key>lesson_id</key>
			<integer>4</integer>
			<key>lesson_morph_path</key>
			<string>earMorph</string>
			<key>lesson_name</key>
			<string>ear</string>
			<key>lesson_stroke_path</key>
			<string>earStroke</string>
			<key>lesson_video_path</key>
			<string>earVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_ear.png</string>
			<key>subtitle_text</key>
			<string>The old character has the shape of an ear.  Later, the ear changes to look more like a square.</string>
		</dict>
		<key>lesson5</key>
		<dict>
			<key>background_path</key>
			<string>eyeBgr</string>
			<key>charsound_path</key>
			<string>eye_charsound</string>
			<key>icon_path</key>
			<string>eye.png</string>
			<key>intro_text</key>
			<string>The old character shows the close-up view of an eye. Later, the eye looks like a rectangle.     </string>
			<key>lesson_id</key>
			<integer>5</integer>
			<key>lesson_morph_path</key>
			<string>eyeMorph</string>
			<key>lesson_name</key>
			<string>eye</string>
			<key>lesson_stroke_path</key>
			<string>eyeStroke</string>
			<key>lesson_video_path</key>
			<string>eyeVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_eye.png</string>
			<key>subtitle_text</key>
			<string>The old character shows the close-up view of an eye. Later, the eye looks more like a rectangle.     </string>
		</dict>
		<key>lesson6</key>
		<dict>
			<key>background_path</key>
			<string>handBgr</string>
			<key>charsound_path</key>
			<string>hand_charsound</string>
			<key>icon_path</key>
			<string>hand.png</string>
			<key>intro_text</key>
			<string>The earliest character looks like an open hand and the palm shrinks into a line. Strokes branch out like fingers. Later, the fingers are even more stretched out, and the middle finger sits on top.</string>
			<key>lesson_id</key>
			<integer>6</integer>
			<key>lesson_morph_path</key>
			<string>handMorph</string>
			<key>lesson_name</key>
			<string>hand</string>
			<key>lesson_stroke_path</key>
			<string>handStroke</string>
			<key>lesson_video_path</key>
			<string>handVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_hand.png</string>
			<key>subtitle_text</key>
			<string>The earliest character looks like an open hand and the palm shrinks into a line. Strokes branch out like fingers. Later, the fingers are even more stretched out, and the middle finger sits on top.</string>
		</dict>
		<key>lesson7</key>
		<dict>
			<key>background_path</key>
			<string>tohaveBgr</string>
			<key>charsound_path</key>
			<string>have_charsound</string>
			<key>icon_path</key>
			<string>have.png</string>
			<key>intro_text</key>
			<string>The ancient character of “to have” or “to possess” shows a picture of a right hand holding a piece of meat. In the modern character, the top is the right hand radical, and the bottom is “meat.”</string>
			<key>lesson_id</key>
			<integer>7</integer>
			<key>lesson_morph_path</key>
			<string>haveMorph</string>
			<key>lesson_name</key>
			<string>have</string>
			<key>lesson_stroke_path</key>
			<string>haveStroke</string>
			<key>lesson_video_path</key>
			<string>haveVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_tohave.png</string>
			<key>subtitle_text</key>
			<string>The ancient character of “to have” or “to possess” shows a picture of a right hand holding a piece of meat. In the modern character, the top is the right hand radical, and the bottom is “meat.”</string>
		</dict>
		<key>lesson8</key>
		<dict>
			<key>background_path</key>
			<string>heartBgr</string>
			<key>charsound_path</key>
			<string>heart_charsound</string>
			<key>icon_path</key>
			<string>heart.png</string>
			<key>intro_text</key>
			<string>The dots at the top of this character suggest the main vessels that carry blood to and away from the heart. In Chinese culture, the heart serves as the seat of the emotions as well as the organ for thinking, so this character can represent the idea of “heart-mind.”   </string>
			<key>lesson_id</key>
			<integer>8</integer>
			<key>lesson_morph_path</key>
			<string>heartMorph</string>
			<key>lesson_name</key>
			<string>heart</string>
			<key>lesson_stroke_path</key>
			<string>heartStroke</string>
			<key>lesson_video_path</key>
			<string>heartVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_heart.png</string>
			<key>subtitle_text</key>
			<string>The dots at the top of this character suggest the main vessels that carry blood to and away from the heart. In Chinese culture, the heart serves as the seat of the emotions as well as the organ for thinking, so this character can represent the idea of “heart-mind.”   </string>
		</dict>
		<key>lesson9</key>
		<dict>
			<key>background_path</key>
			<string>mouthBgr</string>
			<key>charsound_path</key>
			<string>mouth_charsound</string>
			<key>icon_path</key>
			<string>mouth.png</string>
			<key>intro_text</key>
			<string>The earliest character looks like an open mouth. Later, the character changes to look more like a square, but there is still the idea of an opening.</string>
			<key>lesson_id</key>
			<integer>9</integer>
			<key>lesson_morph_path</key>
			<string>mouthMorph</string>
			<key>lesson_name</key>
			<string>mouth</string>
			<key>lesson_stroke_path</key>
			<string>mouthStroke</string>
			<key>lesson_video_path</key>
			<string>mouthVideo</string>
			<key>practice_imgbg_path</key>
			<string>Practice_mouth.png</string>
			<key>subtitle_text</key>
			<string>The earliest character looks like an open mouth. Later, the character changes to look more like a square, but there is still the idea of an opening.</string>
		</dict>
	</dict>
</dict>
</plist>
